{% extends "roles/layout.html" %}

{% block content %}
<div class="content flex pt-12 md:w-3/4 lg:w-6/12 max-w-1/4 flex-col">
  <div class="w-full max-w-2xl mx-auto px-3 sm:px-6 lg:px-20">
    {% for page in section.pages %}
      <article class="post border-b-1 border-gray-400 border-dotted">
        <a href="{{ page.permalink }}" class="text-2xl text-n0pink-500 cursor-pointer">{{ page.title }}</a>
        <p class="text-md text-gray-400">open role at number 0</p>
        <p class="mt-6 text-gray-300">
          {{ page.description | safe }}
        </p>
      </article>
    {% endfor %}
  </div>
</div>
{% endblock %}