{% extends "layout.html" %} {% block content %}
<div class="py-40 w-full">
    <div class="w-full max-w-3xl mr-auto px-4 sm:px-6 lg:px-10">
        <div class="border-t border-gray-700 py-6">
            <h1 class="text-lg text-bold leading-relaxed text-n0gray-500 mb-1">
              team
            </h1>
            <h1 class="text-4xl leading-normal font-bold mx-auto">
                One of the very few teams with a proven track record of shipping direct connection topologies in production 
            </h1>

            <div class="py-6 text-lg leading-8">
                <p class="mb-4">
   With a combined 70+ years of experience building networked, edge, and cloud distributed systems, our team understands the importance of collaboration when it comes to developing innovative software and conducting research.
                </p>
                <p class="">
                     The number 0 team can get
                    you out of the food, water, &amp; shelter phase of direct
                    connections. We can get you up & running in weeks, so you can focus on delivering
                    meaningful software.
                </p>
                <div class="mt-10">
                    <a
                        class="text-lg text-n0pink-500 cursor-pointer underline decoration-dotted"
                        href="https://cal.com/team/number-0/n0-protocol-services"
                        >Let&apos;s chat</a
                    >
                </div>
            </div>
        </div>
        <div class="py-6">
        

  {% for page in section.pages %}
    
<div class="border-t border-gray-700 py-6 sm:grid sm:grid-cols-2 gap-5">
    <div class="mr-10">
        
        <h3 class="text-xl font-bold leading-8 mb-2">{{ page.title }}</h3>
        <a href="https://github.com/{{ page.description }}" target="_blank"><img src="/img/Github_logo_svg.webp" class="w-5 inline-block" /></a>
    </div>
    <div>
        <p class="text-md leading-7">{{ page.content | safe }}</p>
    </div>
</div>

  {% endfor %}
{% endblock %} {% block pagination %} {% if page.earlier or page.later or
page.lighter or page.heavier %}
<!--TODO-->
{% endif %} {% endblock %}
