{% extends "layout.html" %} {% block content %}
<div class="py-40 w-full">
    <div class="w-full max-w-3xl mr-auto px-4 sm:px-6 lg:px-10">
        <div class="border-t border-gray-700 py-6">
            <h1 class="text-lg text-bold leading-relaxed text-n0gray-500 mb-1">
              team
            </h1>
            <h1 class="text-4xl leading-normal font-bold mx-auto">
                One of the very few teams with a proven track record of shipping direct connection topologies in production 
            </h1>

            <div class="py-6 text-lg leading-8">
                <p class="mb-4">
   With 70+ years of experience building networked, edge, and cloud distributed systems, our team understands the importance of collaboration when it comes to developing innovative software and conducting research.
                </p>
                <p class="">
                     The number 0 team can get
                    you out of the food, water, &amp; shelter phase of direct
                    connections. We can get you up & running in weeks, so you can focus on delivering
                    meaningful software.
                </p>
                <div class="mt-10">
                    <a
                        class="text-lg text-n0pink-500 cursor-pointer underline decoration-dotted"
                        href="https://cal.com/team/number-0/n0-protocol-services"
                        >Let&apos;s chat</a
                    >
                </div>
            </div>
        </div>
        <div class="py-6">
            <div
                class="border-t border-gray-700 pt-6 pb-12 sm:grid sm:grid-cols-2 gap-5"
            >
                <h3 class="block pr-24 text-xl font-bold leading-8 mb-2">
                  Brendan O'Brian
                </h3>
                <p class="block text-md leading-7">
                   Brendan is passionate about distributed systems, improving
                   the internet, and making technical concepts accessible
                   through storytelling. His main job at number 0 is
                   copy-pasting links to documents.
                </p>
            </div>
            <div
                class="border-t border-gray-700 pt-6 pb-12 sm:grid sm:grid-cols-2 gap-5"
            >
                <h3 class="text-xl pr-24 font-bold leading-8 mb-2">
                   Friedel Ziegelmayer aka Dig
                </h3>
                <p class="text-md leading-7">

Dig is in a deep love and hate relationship with computers for over 20 years, and continues to engage with them for reasons unknown to him. 
At n0 he tries to make sure that not the computers but the good humans come out on top at the end, because he still believes that computers are meant to make our lifes better.

                </p>
            </div>
            <div
                class="border-t border-gray-700 py-6 sm:grid sm:grid-cols-2 gap-5"
            >
                <div class="mr-10">
                    <h3 class="text-xl font-bold leading-8 mb-2">
                        Kasey Huizinga
                    </h3>
                </div>
                <div>
                    <p class="text-md leading-7">
                        Kasey enjoys working with smart folks on difficult engineering problems that solve real issues. Her primary responsibilities at n0 are wrangling releases and people.

                    </p>
                </div>
            </div>
              <div
                class="border-t border-gray-700 py-6 sm:grid sm:grid-cols-2 gap-5"
            >
                <div class="mr-10">
                    <h3 class="text-xl font-bold leading-8 mb-2">
                        Rae McKelvey
                    </h3>
                </div>
                <div>
                    <p class="text-md leading-7">
                        Rae is passionate about helping people build great technology that works anytime, anywhere — even with disrupted service, dead zones, or hostile infrastructure. At n0, Rae focuses on growth and adoption.
                    </p>
                </div>
            </div>
            <div
                class="border-t border-gray-700 py-6 sm:grid sm:grid-cols-2 gap-5"
            >
                <div class="mr-10">
                    <h3 class="text-xl font-bold leading-8 mb-2">
                        Asmir Avdicevic
                    </h3>
                </div>
                <div>
                    <p class="text-md leading-7">
                        Asmir enjoys geeking around with software and hardware. Putting together things from the home work bench and home lab up all the way into the cloud. 
At n0 you will usually find him on the metrics and ops side of things but also likes to take a stroll through the odd corners and problems.
                    </p>
                </div>
            </div>

            <div
                class="border-t border-gray-700 py-6 sm:grid sm:grid-cols-2 gap-5"
            >
                <div class="mr-10">
                    <h3 class="text-xl font-bold leading-8 mb-2">
                        Rüdiger Klaehn
                    </h3>
                </div>
                <div>
                    <p class="text-md leading-7">
                        Rüdiger likes simple things that work. He is so stubborn that he continues to work on a problem until he considers it solved. At n0 he has the opportunity to do just that for content-addressed storage and peer to peer networking. He did space stuff in the past and still likes to watch rocket launches with his 4 kids.

                    </p>
                </div>
            </div>

            <div
                class="border-t border-gray-700 py-6 sm:grid sm:grid-cols-2 gap-5"
            >
                <div class="mr-10">
                    <h3 class="text-xl font-bold leading-8 mb-2">
                        Franz Heinzmann aka Frando
                    </h3>
                </div>
                <div>
                    <p class="text-md leading-7">

Franz came to n0 from ever-unfinished efforts to make peer-to-peer tools work for grassroots media. He’s relieved to finally build solid foundations for real this time. When not busy with iroh core development, he’s probably creating a demo or protocol prototype to bring iroh into new areas.
                    </p>
                </div>
            </div>

            <div
                class="border-t border-gray-700 py-6 sm:grid sm:grid-cols-2 gap-5"
            >
                <div class="mr-10">
                    <h3 class="text-xl font-bold leading-8 mb-2">
                        Philipp Krüger
                    </h3>
                </div>
                <div>
                    <p class="text-md leading-7">

                        Philipp took a long walk through many programming-related interests from game development to frontend to functional programming to cryptography, but nowadays writes networking software.
When he joined, he helped make iroh run in browsers and now is the person everyone else trusts too much to touch the cryptographic bits. Occasionally he might disappear into the nearest forest for a trail run.
                    </p>
                </div>
            </div>

            <div
                class="border-t border-gray-700 py-6 sm:grid sm:grid-cols-2 gap-5"
            >
                <div class="mr-10">
                    <h3 class="text-xl font-bold leading-8 mb-2">
                        Floris Bruynooghe
                    </h3>
                </div>
                <div>
                    <p class="text-md leading-7">
Floris enjoys working on the least user-visible engineering problems.   At n0 he obsesses over exactly how to shuffle bytes over the many wires of the internet.  He hopes you never noticed.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block pagination %} {% if page.earlier or page.later or
page.lighter or page.heavier %}
<!--TODO-->
{% endif %} {% endblock %}
