{% extends "blog/layout.html" %}

{% block content %}
<!-- <div class="content flex md:w-3/4 lg:w-1/2 flex-col">
  <div class="text-sm w-full max-w-6xl mx-auto px-3 sm:px-6 lg:px-10">
    <a class="cursor-pointer color text-gray-500" href="/blog">&laquo; index</a>
  </div>
</div> -->
<div class="content flex pt-12 md:w-3/4 lg:w-7/12 max-w-1/2 flex-col">
  <div class="w-full max-w-6xl mx-auto px-3 sm:px-6 lg:px-10">
    <h1 class="text-4xl text-bold mb-2 mx-auto">
        {{ page.title }}
    </h1>
    <p class="text-sm text-gray-500 mb-4">
      {{ page.date | date(format="%A %-d %B")}} <span class="mx-1">|</span> by {{page.extra.author}}
    </p>
    <h2 class="text-lg sm:text-xl mx-auto text-gray-400 mb-16">
      {{ page.description }}
    </h2>
    <!-- Content -->
    <div id="page-content" class="text-bold mt-2">
      {{ page.content | safe }}
    </div>
  </div>
</div>
{% endblock %}