<!doctype html>
  <html lang="{{lang}}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% if config.extra.favicon.webmanifest %}
    <link href="{{ config.extra.favicon.manifest }}"" rel="manifest" />
    {% endif %}
    {% if config.extra.favicon.favicon_16x16 %}
    <link href='{{ config.extra.favicon.favicon_16x16 }}' rel="icon" sizes="16x16" type="image/png" />
    {% endif %}
    {% if config.extra.favicon.favicon_32x32 %}
    <link href='{{ config.extra.favicon.favicon_32x32 }}' rel="icon" sizes="32x32" type="image/png" />
    {% endif %}
    {% if config.extra.favicon.android_chrome_512 %}
    <link href='{{ config.extra.favicon.android_chrome_512 }}' rel="android-chrome" sizes="512x512" />
    {% endif %}
    {% if config.extra.favicon.android_chrome_192 %}
    <link href='{{ config.extra.favicon.android_chrome_192 }}' rel="android-chrome" sizes="192x192" />
    {% endif %}
    {% if config.extra.favicon.apple_touch_icon %}
    <link href='{{ config.extra.favicon.apple_touch_icon }}' rel="apple-touch-icon" sizes="180x180" />
    {% endif %}
    {% if config.extra.favicon.apple_touch_icon %}
    <link href='{{ config.extra.favicon.apple_touch_icon }}' rel="apple-touch-icon" sizes="180x180" />
    {% endif %}

    <link href="/styles/style.css" rel="stylesheet">

    <title>
      {% block title %}
      {{ config.title }}
      {% endblock title %}
    </title>
</head>
<body class="bg-n0gray-900 text-n0gray-200 h-screen justify-between font-space">
  {% block navbar %}
  <nav class="fixed w-screen">
    <div class="max-w-6xl mx-auto px-3 sm:px-6 lg:px-10">
      <div class="relative flex items-center justify-between h-20">
        <div class="absolute inset-y-0 right-0 flex items-center sm:hidden">
          <!-- Mobile menu button-->
          <button id="toggle-mobile-menu" type="button" class="inline-flex items-center justify-center p-2 rounded-md text-n0gray-400 hover:text-white hover:bg-n0gray-700 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <!--  
              Icon when menu is closed.
              Heroicon name: outline/menu
              Menu open: "hidden", Menu closed: "block"
            -->
            <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
            <!--
              Icon when menu is open.
              Heroicon name: outline/x
              Menu open: "block", Menu closed: "hidden"
            -->
            <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>
        <div class="flex-1 flex sm:items-stretch sm:justify-start">
          <div class="flex-shrink-0 flex items-center mr-auto">
            <img class="block md:hidden h-8 w-auto" src="img/logos/wordmark-small-salmon.svg" alt="Number Zero">
            <img class="hidden md:block h-8 w-auto" src="img/logos/wordmark-full-salmon.svg" alt="Number Zero">
          </div>
          
          <div class="hidden inset-y-0 sm:block sm:pr-0 sm:inset-auto">
            <div class="flex space-x-5">
              <!-- Current: "bg-n0gray-900 text-white", Default: "text-n0gray-400 hover:bg-n0gray-700 hover:text-white" -->
              <a href="https://github.com/n0-computer" class="text-n0gray-400 px-3 py-2 rounded-md text-sm font-medium transition ease-in-out delay-50 transition-colors hover:text-white">github</a>
              <a href="https://twitter.com/n0-computer" class="text-n0gray-400 px-3 py-2 rounded-md text-sm font-medium transition ease-in-out delay-50 transition-colors hover:text-white">twitter</a>
              <a href="#" class="text-n0gray-400 px-3 py-2 rounded-md text-sm font-medium transition ease-in-out delay-50 transition-colors hover:text-white">careers</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Mobile menu, show/hide based on menu state. -->
    <div id="mobile-menu" class="hidden bg-n0gray-700 sm:hidden" aria-hidden="true" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
      <div class="px-2 pt-2 pb-3 space-y-1">
        <!-- Current: "bg-n0gray-900 text-white", Default: "text-n0gray-400 hover:bg-n0gray-700 hover:text-white" -->
        <a href="https://github.com/n0-computer" class="bg-n0gray-900 text-white block px-3 py-2 rounded-md text-base font-medium">github</a>
        <a href="https://twitter.com/n0computer" class="text-n0gray-400 hover:bg-n0gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">twitter</a>
        <a href="https://greenhouse.io" class="text-n0gray-400 hover:bg-n0gray-700 hover:text-white block px-3 py-2 rounded-md text-base font-medium">careers</a>
      </div>
    </div>
  </nav>
  {% endblock navbar %}


  <main class="mb-auto flex flex-col min-h-screen">
    {% block content %}
    {% endblock content %}
  </main>

  {% block pagination %}
  {% endblock pagination %}

  {% block footer %}
  <footer class="bg-n0gray-1000 pt-20 pb-16">
    <div class="w-full max-w-6xl mx-auto px-2 sm:px-6 lg:px-10 flex flex-col sm:flex-row">
      <div class="w-full sm:w-3/12">
        <div class="flex-shrink-0 flex items-center mr-auto">
          <a href="/">
            <img class="block md:hidden h-8 w-auto" src="img/logos/wordmark-small-gray.svg" alt="Number Zero">
            <img class="hidden md:block h-8 w-auto" src="img/logos/wordmark-full-gray.svg" alt="Number Zero">
          </a>
      </div>
      <div class="w-full sm:w-9/12 text-right">
        <a href="/contact" target="blank" class="mx-4">contact</a>
        <a href="/legal" target="blank" class="mx-4">legal</a>
      </div>
    </div>
  </footer>
  {% endblock footer %}

  <!--- scripts --->
  <script defer src="/js/site.js"></script>
  <script defer src="https://cdn.usefathom.com/script.js" data-site="LRKDOQBG"></script>
  {% block extra_js %}
  {% endblock extra_js %}
</body>
</html>
