{% extends "layout.html" %} {% block content %}
<div class="py-40 w-full">
    <div class="w-full max-w-3xl mr-auto px-4 sm:px-6 lg:px-10">
        <div class="border-t border-gray-700 py-6">
            <h1 class="text-lg text-bold leading-relaxed text-n0gray-500 mb-1">
                number 0 protocol services
            </h1>
            <h1 class="text-4xl leading-normal font-bold mx-auto">
                Shipping quality software is hard.
            </h1>

            <div class="py-6 text-lg leading-8">
                <p class="mb-4">
                    Much worse if you need to connect devices directly. You’ll
                    have to hire at least one distributed systems engineer,
                    they’ll pull & configure a library for you, throw a dart at
                    a pile of whitepapers, and hope they’ve chosen the right
                    techniques. If you’re lucky the first version will land
                    after 6 months of work. When it finally
                    <i class="italic">does</i> ship, the bug reports start.
                </p>

                <p class="mb-4">
                    “doesn’t work on hotel wifi”, “laggy connections at work”,
                    “my phone is hot”. Users say kind things in interviews, but
                    things are <i class="italic">not</i> clicking. Your
                    networking engineer is now a networking team, the project is
                    8 months behind schedule, three quarters of your innovation
                    budget is spent, and your vision of building something with
                    real user benefits is starting to slip.
                </p>

                <p class="">
                    It doesn’t have to be this way. The number 0 team can get
                    you out of the food, water, &amp; shelter phase of direct
                    connections. We can get you up & running in weeks, with
                    software that just works, so you can focus on delivering
                    meaningful software.
                </p>
                <div class="mt-10">
                    <a
                        class="text-lg text-n0pink-500 cursor-pointer underline decoration-dotted"
                        href="https://cal.com/team/number-0/n0-protocol-services"
                        >Let&apos;s chat</a
                    >
                </div>
            </div>
        </div>
        <div class="py-6">
            <div
                class="border-t border-gray-700 pt-6 pb-12 sm:grid sm:grid-cols-2 gap-5"
            >
                <h3 class="block pr-24 text-xl font-bold leading-8 mb-2">
                    A network engineering team, for less than the cost of one
                    dev.
                </h3>
                <p class="block text-md leading-7">
                    With a combined 70+ years of distributed systems design &
                    development experience, we represent one of the very few
                    teams on the planet with a proven track record of shipping
                    direct connection topologies into production apps.
                </p>
            </div>
            <div
                class="border-t border-gray-700 pt-6 pb-12 sm:grid sm:grid-cols-2 gap-5"
            >
                <h3 class="text-xl pr-24 font-bold leading-8 mb-2">
                    A Custom Protocol stack tailored to your project
                </h3>
                <p class="text-md leading-7">
                    Ship a bespoke API with exactly the feature set you need, in
                    the language you’re already working in. We’ll integrate
                    directly with your existing engineering team to surface the
                    exact feature set your project needs.
                </p>
            </div>
            <div
                class="border-t border-gray-700 py-6 sm:grid sm:grid-cols-2 gap-5"
            >
                <div class="mr-10">
                    <h3 class="text-xl font-bold leading-8 mb-2">
                        Ongoing Support
                    </h3>
                </div>
                <div>
                    <p class="text-md leading-7">
                        We’ll keep iroh up to date for you, bringing the full
                        value of a thriving open source project into your
                        codebase on a regular cadence.
                    </p>
                </div>
            </div>
            <div
                class="border-t border-gray-700 py-6 sm:grid sm:grid-cols-2 gap-5"
            >
                <div class="mr-10">
                    <h3 class="text-xl font-bold leading-8 mb-2">
                        You&apos;re in good company
                    </h3>
                </div>
                <div>
                    <p class="text-md leading-7">
                        We work with some of the most innovative companies on
                        the planet, working on some of the most complex,
                        bleeding edge capabilities in the world. We’re proud to
                        be a part of their journey. We’d love to be a part of
                        yours.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block pagination %} {% if page.earlier or page.later or
page.lighter or page.heavier %}
<!--TODO-->
{% endif %} {% endblock %}
